<h1 id="tableLabel">Database</h1>

<p *ngIf="!db"><em>Loading...</em></p>


<ul class="nav nav-tabs mb-3">
  <div *ngFor="let tab of tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[]"  (click)="onClick(tab.name)">{{tab.name}}</a>
    </li>
  </div>
</ul>


<div class="tab-content" *ngIf="showSpreadsheet1">
  <app-spreadsheet1 [data]="db.spreadsheet1"></app-spreadsheet1>
</div>
<div class="tab-content" *ngIf="showSpreadsheet2">
  <app-spreadsheet2 [data]="db.spreadsheet2"></app-spreadsheet2>
</div>

