<h1 id="tableLabel">Database</h1>

<p *ngIf="!db"><em>Loading...</em></p>


<ul class="nav nav-tabs">
  <div *ngFor="let tab of tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[]"  (click)="onClick(tab.name)">{{tab.name}}</a>
    </li>
  </div>
</ul>

<div *ngIf="showSpreadsheet1">
  <app-spreadsheet1 [data]="db.spreadsheet1"></app-spreadsheet1>
</div>
<div *ngIf="showSpreadsheet2">
  <p>spreadsheet2</p>
</div>
<!-- <div *ngFor="let tab of tabs">
  <p *ngIf="tab.showPage">
    <app-spreadsheet1></app-spreadsheet1>
  </p>
</div> -->





<!-- <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="db">
  <thead>
    <tr>
      <th>Id</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let dbi of db">
      <td>{{ dbi.id }}</td>
      <td>{{ dbi.spreadsheet1.name }}</td>
      <td>{{ dbi.spreadsheet2.name }}</td>
    </tr>
  </tbody>
</table> -->
